*.pyc
*.db
*.sublime-project
*.bak
.env
.project
.pydevproject
/cdnmanager/virtualenv/
/cdnmanager/cdnmanager/cdn/uploads
/cdnmanager/cdnmanager/cdn/static
!/cdnmanager/virtualenv/README
cdnmanager/cdnmanager/cdn/local_settings.py
cdnmanager/cdnmanager/cdn/log.txt
cdnmanager/ftpserver/ftpserver
cdnmanager/ftpserver/ftpconfig.py
cdnserver/data
cdnmanager/data/
cdnmanager/customer_log/
