{% extends "base.html" %}

{% block content %}
<div class="container">
    <div id="header-logo" class="span-16">
        <a href="/"><img src="{{ STATIC_URL }}images/vdn-small.png"></a>
        <span class="header-title">
        <b>Video Delivery Network</b>
        </span>
    </div>
    <div id="header-user" class="span-8 last">
        {% if request.user.is_authenticated %}
            <div id="userinfo" style="text-align:right">
                <a href="/accounts/{{ request.user.username }}">{{ request.user.username }}</a> |
                <a href="/accounts/logout/">log out</a>
            </div>
        {% else %}
            <div id="userinfo" style="text-align:right">
                <a href="/accounts/login/">Log in</a>
            </div>
        {% endif %}
    </div>
    <hr>
    <div id="main" class="span-24">
    {% block baseapp %}
    {% endblock %}
    </div>

</div>
{% endblock %}