{% extends "baseapp.html" %}

{% block javascript %}
{% comment %}
{{ policy_formset.media }}
{% endcomment %}
<script type="text/javascript" src="/static/js/jquery/jquery-1.5.2.js"></script>
<script type="text/javascript">
$(document).ready(function(){

    var getUrlPage = function() {
       return $('#page_number').html();
    }

//    alert(getUrlPage())

    var update_field = function($field_id,$status,$percentage) {
        $('#status-' + $field_id).html($status)
        $('#percentage-' + $field_id).html($percentage)
    };

    var parse_update_fields = function($response) {
        $.each($response, function(k, v) {
            update_field(v.id, v.transfer_status);
        });
    }

    var update_transfer_status = function() {
        // Get page number
        var page = getUrlPage();
        data = {'page': page}
        $.ajax({
            url: '{% url trasnfer_status_queue %}',
            data: data,
            success: function(item){
                parse_update_fields(item);
            },
        })
    }

    $('#update').click(function(){
        update_transfer_status();
//        update_transfer_status_fields_all();
    });
})
</script>

{% endblock %}

{% block baseapp %}
<a id='update' href="#">Update Fields</a>
<table id="transfer_queue">
        <tr>
            <td>File Name Short</td>
            <td>Node Name</td>
            <td>IP Address</td>
            <td>File Size</td>
            <td>Transfer Method</td>
            <td>Transfered %</td>
            <td>Transfer Status</td>
        </tr>
    {% for q in queue.object_list %}
        <tr id="queue-{{ q.id }}" class="transfer">
            <td>{{ q.video_file.file_name_short }}</td>
            <td>{{ q.server.node_name }}</td>
            <td>{{ q.server.ip_address }}</td>
            <td>{{ q.video_file.file_size }}</td>
            <td>{{ q.transfer_method }}</td>
            <td id="percentage-{{ q.id }}">{{ q.percentage_transferred }}</td>
            <td id="status-{{ q.id }}">{{ q.transfer_status }}</td>
        </tr>
    {% endfor %}
</table>

<div class="pagination">
    <span class="step-links">
        {% if queue.has_previous %}
            <a href="?page={{ queue.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page <span id="page_number">{{ queue.number }}</span> of {{ queue.paginator.num_pages }}.
        </span>

        {% if queue.has_next %}
            <a href="?page={{ queue.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}
