{% extends "baseapp.html" %}

{% block baseapp %}
<form enctype="multipart/form-data" method="post" action="/videorepo/">
{{ main_form.as_p }}
</form>



<table>
<thead>
<th>Project</th>
<th>Video File</th>
<th>Size</th>
<th>Upload Date</th>
</thead>
<tbody>
{% for v in video_files %}
<tr>
<td>{{ v.project }}</td>
<td>{{ v.file_name }}</td>
<td>{{ v.file_size }}</td>
<td>{{ v.upload_date }}</td>
</tr>
{% endfor %}
</tbody>
</table>


<table id="mygrid">
</table>

<script type="text/javascript">
$(document).ready(function () {
    $.getJSON("{% url grid_config %}", function(data){
        $("#mygrid")
            .jqGrid(data)
            .navGrid('#pager', 
                {add: false, edit: false, del: false, view: true},
        {}, // edit options
        {}, // add options
        {}, // del options 
        { multipleSearch:true, closeOnEscape:true }, // search options 
        { jqModal:false, closeOnEscape:true} // view options 
        );
    });
});
</script>

{% endblock %}
