{% extends "baseapp.html" %}

{% block javascript %}
{% comment %}
{{ policy_formset.media }}
{% endcomment %}
<script type="text/javascript" src="/static/js/jquery/jquery-1.5.2.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    var switch_fields = function($method, $policy_id) {
        var policy_id = $policy_id
        var method = $method
        var protocol_select = '#id_projectpolicy_set-' + policy_id + '-protocol';
        var max_conn = '#id_projectpolicy_set-' + policy_id + '-max_simultaneous_segments';
        var seg_size = '#id_projectpolicy_set-' + policy_id + '-segment_size_kb';
        switch (method) {
            case 'Single FTP':
                $(protocol_select).val('FTP');
                $(max_conn).val('1');
                $(max_conn).attr('readonly','readonly');
                $(seg_size).val('0');
                $(seg_size).attr('readonly','readonly');
                break;
            case 'Single HTTP':
                $(protocol_select).val('HTTP');
                $(max_conn).val('1');
                $(max_conn).attr('readonly','readonly');
                $(seg_size).val('0');
                $(seg_size).attr('readonly','readonly');
                break;
            case 'Torrent-like':
                $(protocol_select).val('HTTP');
                $(max_conn).val('3');
                $(max_conn).removeAttr('readonly');
                $(seg_size).val('10000');
                $(seg_size).removeAttr('readonly');
                break;
            case 'Trickle':
                $(protocol_select).val('FTP');
                $(max_conn).val('1');
                $(max_conn).removeAttr('readonly');
                $(seg_size).val('1000');
                $(seg_size).removeAttr('readonly');
                break;
        }
        
        
        };
    switch_fields('Single FTP', '0');
    switch_fields('Single FTP', '1');
    switch_fields('Single FTP', '2');
    $(".transfer_method").change(function () {
            var method = $(this).val();
            var policy_id = $(this).attr('id').replace('id_projectpolicy_set-','').replace('-transfer_method','');
            switch_fields(method,policy_id);

    });
})
</script>

{% endblock %}

{% block baseapp %}
<form enctype="multipart/form-data" method="post" action="{% url add_project %}" style="margin-bottom:35px;">
    {% csrf_token %}
    <div class="fieldWrapper" style="margin-bottom:10px;">
        {{ project_form.name.errors }}
        <div><label for="id_project_name">Project Name:</label></div>
        <div>{{ project_form.name }}</div>
    </div>
    
    {{ policy_formset.management_form }}

    {% for form in policy_formset %}
    <div style="border-style:solid;border-width:1px;padding:10px;margin-bottom:20px;">
        <h5>Policy #{{ forloop.counter }}</h5>
        <div style="float:left;margin-right:10px;">
            {{ form.cdnregion.errors }}
            <div><label for="id_cdnregion">CDN Region:</label></div>
            <div>{{ form.cdnregion }}</div>
        </div>
        
        <div style="float:left;margin-right:10px;">
            {{ form.transfer_method.errors }}
            <div><label for="id_transfer_method">{{ form.transfer_method.label }}:</label></div>
            <div>{{ form.transfer_method }}</div>
        </div>
        
        <div style="float:left;margin-right:10px;">
            {{ form.max_simultaneous_segments.errors }}
            <div><label for="id_max_simultaneous_segments">{{ form.max_simultaneous_segments.label }}:</label></div>
            <div>{{ form.max_simultaneous_segments }}</div>
        </div>

        <div style="float:left;margin-right:10px;">
            {{ form.max_bandwidth_per_segment_kbps.errors }}
            <div><label for="id_max_bandwidth_per_segment_kbps">{{ form.max_bandwidth_per_segment_kbps.label }}:</label></div>
            <div>{{ form.max_bandwidth_per_segment_kbps }}</div>
        </div>

        <div style="float:left;margin-right:10px;">
            {{ form.segment_size_kb.errors }}
            <div><label for="id_segment_size_kb">{{ form.segment_size_kb.label }}:</label></div>
            <div>{{ form.segment_size_kb }}</div>
        </div>

        <div style="float:left;margin-right:10px;">
            {{ form.protocol.errors }}
            <div><label for="id_segment_size_kb">{{ form.protocol.label }}:</label></div>
            <div>{{ form.protocol }}</div>
        </div>

        <div style="float:left;margin-right:10px;">
            {{ form.start_time.errors }}
            <div><label for="id_start_time">{{ form.start_time.label }}:</label></div>
            <div>{{ form.start_time }}</div>
        </div>

        <div style="float:left;margin-right:10px;">
            {{ form.end_time.errors }}
            <div><label for="end_time">{{ form.end_time.label }}:</label></div>
            <div>{{ form.end_time }}</div>
        </div>
        <div style="clear:both;"></div>

    </div>
    {% endfor %}
    <div><input type="submit" value="Add Project" />
    <div style="float:right"><input type="button" name="Cancel" value="Cancel" onclick="window.location = '{% url main_page %}' " /></div>
</form>
{% endblock %}