{% extends "baseapp.html" %}

{% block baseapp %}
<form enctype="multipart/form-data" method="post" action="{% url add_project %}" style="margin-bottom:35px;">
    {% csrf_token %}
    <div class="fieldWrapper" style="margin-bottom:10px;">
        {{ project_form.name.errors }}
        <div><label for="id_project_name">Project Name:</label></div>
        <div>{{ project_form.name }}</div>
    </div>
    
    {{ policy_formset.management_form }}

    {% for form in policy_formset %}
    <div style="border-style:solid;border-width:1px;padding:10px;margin-bottom:20px;height:100px;">
        <h5>Policy #{{ forloop.counter }}</h5>
        <div style="float:left;margin-right:10px;">
            {{ form.cdnregion.errors }}
            <div><label for="id_cdnregion">CDN Region:</label></div>
            <div>{{ form.cdnregion }}</div>
        </div>
        
        <div style="float:left;margin-right:10px;">
            {{ form.transfer_method.errors }}
            <div><label for="id_transfer_method">Protocol:</label></div>
            <div>{{ form.transfer_method }}</div>
        </div>
        
        <div style="float:left;margin-right:10px;">
            {{ form.max_simultaneous_segments.errors }}
            <div><label for="id_max_simultaneous_segments">MAX Connections:</label></div>
            <div>{{ form.max_simultaneous_segments }}</div>
        </div>

        <div style="float:left;margin-right:10px;">
            {{ form.max_bandwidth_per_segment_kbps.errors }}
            <div><label for="id_max_bandwidth_per_segment_kbps">MAX BW (Mbps):</label></div>
            <div>{{ form.max_bandwidth_per_segment_kbps }}</div>
        </div>

        <div style="float:left;margin-right:10px;">
            {{ form.segment_size_kb.errors }}
            <div><label for="id_segment_size_kb">Segment size (MB):</label></div>
            <div>{{ form.segment_size_kb }}</div>
        </div>

        <div style="float:left;margin-right:10px;">
            {{ form.protocol.errors }}
            <div><label for="id_segment_size_kb">Protocol #2:</label></div>
            <div>{{ form.protocol }}</div>
        </div>

    </div>
    {% endfor %}
    <div><input type="submit" value="Add Project" /></div>
</form>
{% endblock %}