{% extends "baseapp.html" %}

{% block javascript %}
{% comment %}
{{ policy_formset.media }}
{% endcomment %}

{% endblock %}

{% block baseapp %}
<form enctype="multipart/form-data" method="post" action="{% url add_project %}" style="margin-bottom:35px;">
    {% csrf_token %}
    <div class="fieldWrapper" style="margin-bottom:10px;">
        {{ project_form.name.errors }}
        <div><label for="id_project_name">Project Name:</label></div>
        <div>{{ project_form.name }}</div>
    </div>
    
    {{ policy_formset.management_form }}

    {% for form in policy_formset %}
    <div style="border-style:solid;border-width:1px;padding:10px;margin-bottom:20px;height:145px;">
        <h5>Policy #{{ forloop.counter }}</h5>
        <div style="float:left;margin-right:10px;">
            {{ form.cdnregion.errors }}
            <div><label for="id_cdnregion">CDN Region:</label></div>
            <div>{{ form.cdnregion }}</div>
        </div>
        
        <div style="float:left;margin-right:10px;">
            {{ form.transfer_method.errors }}
            <div><label for="id_transfer_method">{{ form.transfer_method.label }}:</label></div>
            <div>{{ form.transfer_method }}</div>
        </div>
        
        <div style="float:left;margin-right:10px;">
            {{ form.max_simultaneous_segments.errors }}
            <div><label for="id_max_simultaneous_segments">{{ form.max_simultaneous_segments.label }}:</label></div>
            <div>{{ form.max_simultaneous_segments }}</div>
        </div>

        <div style="float:left;margin-right:10px;">
            {{ form.max_bandwidth_per_segment_kbps.errors }}
            <div><label for="id_max_bandwidth_per_segment_kbps">{{ form.max_bandwidth_per_segment_kbps.label }}:</label></div>
            <div>{{ form.max_bandwidth_per_segment_kbps }}</div>
        </div>

        <div style="float:left;margin-right:10px;">
            {{ form.segment_size_kb.errors }}
            <div><label for="id_segment_size_kb">{{ form.segment_size_kb.label }}:</label></div>
            <div>{{ form.segment_size_kb }}</div>
        </div>

        <div style="float:left;margin-right:10px;">
            {{ form.protocol.errors }}
            <div><label for="id_segment_size_kb">{{ form.protocol.label }}:</label></div>
            <div>{{ form.protocol }}</div>
        </div>

        <div style="float:left;margin-right:10px;">
            {{ form.start_time.errors }}
            <div><label for="id_start_time">{{ form.start_time.label }}:</label></div>
            <div>{{ form.start_time }}</div>
        </div>

        <div style="float:left;margin-right:10px;">
            {{ form.end_time.errors }}
            <div><label for="end_time">{{ form.end_time.label }}:</label></div>
            <div>{{ form.end_time }}</div>
        </div>

    </div>
    {% endfor %}
    <div><input type="submit" value="Add Project" />
    <div style="float:right"><input type="button" name="Cancel" value="Cancel" onclick="window.location = '{% url main_page %}' " /></div>
</form>
{% endblock %}